intermediateFiles/
code/*.nii.gz
**/*.log
**/*.out
**/*.err
**/*.swp
**/*.swo
.ipynb_checkpoints/
data/
__pycache__/
**/registerOld.py
code/align_waxholm_to_neurorat/*.nii.gz
code/align_waxholm_to_neurorat/*.h5
license_notes.txt
